@use 'components/shared/styles/mixins' as *;

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .deriv-header {
        background: var(--brand-dark);
        color: var(--brand-white);
        --text-general: var(--brand-white);
        --text-prominent: var(--brand-white);
        --text-primary: var(--brand-white);
        --border-normal: var(--brand-accent);
        height: 5.6rem;
    }

    &.quick-strategy-active {
        .deriv-header {
            @include mobile-or-tablet-screen {
                z-index: 10000;
            }
        }
    }
}
